.form_password {
    background-color: var(--color-black-trans);
    color: white;
    padding: 20px 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 25vh;
    left: 50vw;
    transform: translateX(-50%);
}
.form_password__item.title {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.form_password__item.input {
    display: flex;
    justify-content: space-between;
}
.form_password__item.input > input {
    border: none;
}
.form_password__item.input > input:focus, .form_password__item.input > input:active {
    outline: 2px solid var(--color-orange);
}
.form_password__item.btn {
    text-align: center;
}
.form_password__item.btn > button {
    all: unset;
    cursor: pointer;
    background: var(--color-orange);
    padding: 5px 20px;
    border-radius: 25px;
    font-size: 14px;
}
.form_password__item.btn > button:hover, .form_password__item.btn > button:focus {
    background-color: var(--color-orange-dark);
}