.filter {
    padding-top: 30px;
}
.filter__box {
    background: var(--color-black-trans);
    padding: 10px 20px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.filter__item {
    display: inline-block;
}
.filter__item > button {
    all: unset;
    color: white;
    font-weight: 600;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
}
.filter__item > button:hover, .filter__item > button:focus {
    border-color: var(--color-orange);
    color: var(--color-orange);
}
.filter__item > button.active {
    background: var(--color-orange);
    border-color: var(--color-orange);
}
.filter__item > button.active:hover, .filter__item > button.active:focus {
    color: white;
    background: var(--color-orange-dark);
    border-color: var(--color-orange-dark);
}
.menu {
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    gap: 20px;
    padding: 40px 30px;
}
.menu > .menu__item {
    display: block;
    background: var(--color-black-trans);
    color: white;
}
.menu__item > .menu__image {
    display: block;
    width: 100%;
    height: 300px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
}
.menu__image > img {
    display: block;
    width: inherit;
    height: inherit;
}
.menu__item > .menu__title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
.menu__item > .menu__price {
    display: block;
    padding: 10px;
    text-align: center;
}
.menu__item > .menu__desc {
    display: block;
    margin: 10px 0;
    padding: 0 40px;
    text-align: center;
}
.menu__item > .menu__action {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.menu__item > .menu__action > button {
    display: block;
    cursor: pointer;
    font-size: inherit;
    padding: 8px 30px;
    background: none;
    border: 2px solid white;
    color: white;
}
.menu__item > .menu__action > button:hover {
    background: var(--color-orange);
    border-color: var(--color-orange);
}
.add_menu {
    margin-bottom: 30px;
}
.add_menu__item {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.add_menu__item > a {
    all: unset;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 0 20px var(--color-black-trans);
    background: var(--color-orange);
    color: white;
    font-weight: 600;
    padding: 10px 0;
    width: 100%;
}
.add_menu__item > a:hover, .add_menu__item > a:focus {
    background: var(--color-orange-dark);
}