:root {
    --color-orange: #f7812b;
    --color-orange-dark: #f77313;
    --color-black-trans: rgba(0,0,0,0.6);
}
body:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../../img/background-2.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(10px);
}
header {
    position: fixed;
    width: 15vw;
}
.navigation {
    background: var(--color-black-trans);
    height: 100vh;
    color: white;
    padding: 20px 35px;
}
.navigation__title {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 70px;
}
.navigation__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 20px;
}
.navigation__item {
    color: inherit;
    text-decoration: none;
}
.navigation__item:hover, .navigation__item:focus {
    text-decoration: 3px underline var(--color-orange);
    outline: none;
}
.navigation__item.line {
    border-top: 1px solid white;
    padding-top: 16px;
}
.navigation__item.active {
    color: var(--color-orange);
    font-weight: 600;
}
.container {
    position: relative;
    margin-left: 30vh;
}