:root {
    --font-quicksand: 'Quicksand', sans-serif;

    /* Color */
    --color-red: rgba(230, 74, 74,1);
    --color-btn-error: rgba(230, 74, 74,0.7);
    --color-btn-error-hover: rgba(230, 74, 74,1);

    --color-green: rgba(34, 189, 2,1);
    --color-btn-success: rgba(34, 189, 2,0.7);
    --color-btn-success-hover: rgba(34, 189, 2,1);
}
html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-quicksand);
}